<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @* Importação do CSS do Bootstrap *@
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

  <title>@ViewBag.Titulo Escola de Cursos</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
</head>

<body class="@ViewData["BodyClass"]">
  @* Barra de Navegação *@
  <nav class="navbar navbar-expand-lg bg-white border-bottom"
    style="background-image: radial-gradient(circle,rgba(50, 121, 221, 1) 0%, rgba(54, 92, 145, 1) 100%);">
    <div class="container">
      <a class="navbar-brand fw-semibold text-white" asp-controller="Home" asp-action="Index">Escola de Cursos</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="menuPrincipal">
        <div class="navbar-nav ms-auto">
          <a class="nav-link fw-medium text-white" asp-controller="Home" asp-action="Index">Início</a>
          <a class="nav-link fw-medium text-white" asp-controller="Curso" asp-action="Listar">Cursos</a>
          <a class="nav-link fw-medium text-white" asp-controller="Categoria" asp-action="Listar">Categorias</a>
          <a class="nav-link fw-medium text-white" asp-controller="Turma" asp-action="Listar">Turmas</a>
          <a class="nav-link fw-medium text-white" asp-controller="Aluno" asp-action="Listar">Alunos</a>
          <a class="nav-link fw-medium text-white" asp-controller="Instrutor" asp-action="Listar">Instrutores</a>
        </div>
      </div>
    </div>
  </nav>

  @* Cabeçalho da Página *@
  @if (!string.IsNullOrEmpty(ViewBag.Titulo as string))
  {
    <header class="container py-4 mt-4">
      <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-start gap-3">
        <div>
          <h2 class="fw-semibold" style="color: rgb(0, 35, 84)">@ViewBag.Titulo</h2>
          @if (!string.IsNullOrEmpty(ViewBag.Info as string))
          {
            <p class="mb-0">@ViewBag.Info</p>
          }
        </div>
        @if (ViewBag.TextoBotao != null)
        {
          <a class="btn btn-primary rounded-2 px-4 align-self-start mt-4" asp-controller="@ViewBag.ControllerBotao"
            asp-action="@ViewBag.ActionBotao" asp-route-id="@ViewBag.IdBotao">
            @ViewBag.TextoBotao
          </a>
        }
      </div>
    </header>
  }


  @* <header class="container py-4 mt-4">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-start gap-3">
            <div>
                <h2 class="fw-semibold" style="color: rgb(0, 35, 84)">@ViewBag.Titulo</h2>
                <p class="mb-0">@ViewBag.Info</p>
            </div>

            @if (ViewBag.TextoBotao != null)
            {
            <a class="btn btn-primary rounded-2 px-4 align-self-start mt-4" asp-controller="@ViewBag.ControllerBotao"
                asp-action="@ViewBag.ActionBotao" asp-route-id="@ViewBag.IdBotao">
                @ViewBag.TextoBotao
            </a>
            }
        </div>
    </header> *@

  @* Conteúdo da Página *@
  <main class="container pb-5">
    @RenderBody()
  </main>

  @* Importação do JavaScript do Bootstrap *@
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>
