@using EscolaDeCursos.WebApp.Modulos.ModuloCurso
@{
  Layout = "_Layout";
  ViewBag.Titulo = $"📚 Cursos de '{ViewBag.CategoriaTitulo}'";
  ViewBag.Info = $"Visualize os cursos desta categoria.";
}

@model List<ListarCursosViewModel>;

@if (TempData["MensagemErro"] is string mensagemErro)
{
  <div class="alert alert-danger border-start border-danger border-4 rounded-3" role="alert">
    @mensagemErro
  </div>
}

@if (Model.Count == 0)
{
  <div class="alert alert-primary border-start border-primary border-4 rounded-3" role="alert">
    Nenhum curso cadastrado nesta categoria.
  </div>
}
else
{
  @* <h3 class="fw-semibold text-dark medium mb-3 mt-2">Cursos</h3>
  <hr class="my-1"> *@
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">
    @foreach (ListarCursosViewModel c in Model)
    {
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-start gap-3">
              <h5 class="card-title fw-semibold text-dark medium">@c.Titulo</h5>
            </div>
            <hr class="my-1">

            <dl class="row g-2 mt-2">
              <dt class="col-4 text-secondary fw-bold">Categoria:</dt>
              <dd class="col-8 mb-0 text-break">@c.CategoriaTitulo</dd>

              <dt class="col-4 text-secondary fw-bold">Descrição:</dt>
              <dd class="col-8 mb-0 text-break">@c.Descricao</dd>

              <dt class="col-4 text-secondary fw-bold">Nível:</dt>
              <dd class="col-8 mb-0 text-break">@c.Nivel</dd>

              <dt class="col-4 text-secondary fw-bold">Carga Horária:</dt>
              <dd class="col-8 mb-0 text-break">@c.CargaHoraria h</dd>
            </dl>
          </div>
        </div>
      </div>
    }
  </div>
}

<div class="mt-4">
  <a class="btn btn-outline-secondary rounded-2 px-4" asp-action="Listar">Voltar</a>
</div>
